.repeater-buttons{
    display:inline-block;
}
.gform-routing-users,
.gform-routing-field{
    width:100%;
	min-width:150px;
}
.gform-routing-operator{
    width:120px;
}
.gform-routing-value{
    width:190px;
}

.mt-_gform_setting_workflow_notification_message,
.gravityflow-tab-field span[class^="mt-_gform_setting_"] {
    float: right;
    position: relative;
    right: 15px;
    top: 90px;
    z-index: 1;
}

.rtl .mt-_gform_setting_workflow_notification_message,
.rtl .gravityflow-tab-field span[class^="mt-_gform_setting_"] {
    float: left;
    left: 15px;
}

#wp-_gform_setting_workflow_notification_message-wrap,
.gravityflow-tab-field div.wp-editor-wrap {
    margin-right: 15px;
}

.rtl #wp-_gform_setting_workflow_notification_message-wrap,
.rtl .gravityflow-tab-field div.wp-editor-wrap {
    margin-left: 15px;
    margin-right: 0;
}

.gform-routing-row{
    vertical-align: top;
}

#assignees,
#editable_fields{
    position: absolute;
    left: -9999px;
}

.rtl #assignees,
.rtl #editable_fields{
    right: -9999px;
    left: auto;
}

table.gforms_form_settings th{
    border-left: 0;
    padding-left: 0!important;
}

.gravityflow_sub_setting{
    border-left: 1px dashed #dfdfdf;
    padding-left: 10px!important;
    padding-left: 10px;
}


.rtl .gforms_form_settings{
    border-right: 0;
    padding-right: 0!important;
}

.rtl .gravityflow_sub_setting{
    border-right: 1px dashed #dfdfdf;
    padding-right: 10px!important;
    padding-left: 0 !important;
    padding-right: 10px;
    padding-left: 0;
}

table.gform-routings thead th{
    padding: 0;
}

table.gform-routings tr.gform-routing-row td{
    vertical-align: top;
}

table.gform-routings tr.gform-routing-row td .repeater-buttons{
    white-space: nowrap;
}

.ui-tabs-nav{
    background-color:#f6fbfd !important;
}

.gravityflow-tab-checked{
    color:green;
}

.gravityflow-tab-field{
    margin-bottom: 20px;
}

.gravityflow-tab-field-label{
    margin-bottom: 4px;
    font-weight:bold;
}

.gravityflow-user-routing{
    border:1px solid #EEE;
    padding: 10px;
}

.ms-container{
    width:550px!important;
}

.gform-routing-input-field{
    width:100%;
	min-width: 200px;
}

.gravityflow-schedule-type-container{
    margin:5px 0 5px 0;
}

#gform_setting_step_type input:checked + label > span{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
#gform_setting_step_type input:checked + label {
    background-color:white;
    border: 1px solid #CCCCCC;
}
#gform_setting_step_type label > span {
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.3) grayscale(1) opacity(.5);
    -moz-filter: brightness(1.3) grayscale(1) opacity(.5);
    filter: brightness(1.3) grayscale(1) opacity(.5);
}

.gravityflow-disabled label{
    cursor:default!important;
}

#gform_setting_step_type input:not([disabled]):not([checked]) + label > span:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

#gform_setting_step_type input{
    display:none;
}
#gform_setting_step_type div.gform-setting-radio label > span{
    padding-top:5px;
    width:130px;
    height:65px;
}

#gform_setting_step_type label > span > img{
    height:32px;
    margin:5px;
    vertical-align:middle;
}

#gform_setting_step_type div.gform-setting-radio label{
    border:1px solid #EEEEEE;
    background-color:#F9F9F9;
    display:inline-block;
    margin-bottom: 5px;
    color:black;
    height:85px;
}

#gform_setting_step_type .gform-setting-radio{
    text-align:center;
    display:inline-block;
}

#gform_setting_step_type label > span > i {
    height:32px;
    display:inline-block;
    font-size:2.5em;
    margin:5px;
    color:#0074a2;
}

.gravityflow-step-highlight-type-container,
.gravityflow-step-highlight-color-container,
.gravityflow-schedule-type-container,
.gravityflow-schedule-delay-container,
.gravityflow-schedule-date-container,
.gravityflow-expiration-type-container,
.gravityflow-expiration-delay-container,
.gravityflow-expiration-date-container,
.gravityflow-due-date-type-container,
.gravityflow-due-date-delay-container,
.gravityflow-due-date-date-container,
.gravityflow-due-date-highlight-color-container{
    margin: 10px 0 10px 0;
}

.gravityflow-step-highlight-type-container {
    display: none;
}

.gravityflow_display_fields_selected_container{
    margin-top:5px;
}

.gravityflow-step-highlight-color-container .wp-picker-container {
    margin-top: 5px;
}

.gravityflow-sub-setting{
    margin-bottom: 10px;
}

.gravityflow-instructions-setting-description{
    margin: 10px 0 10px 0;
    font-style: italic;
    color: #AAA;
}

#instructionsContainer{
    margin: 10px 0 10px 0;
}

 .gform-settings__wrapper .wp-picker-container .wp-color-result.button {
    padding: 0 0 0 30px;
    border: 1px solid silver;
    border-radius: 3px;
}

#schedule_date {
    width: 120px !important;
}

div.gform-field-filter {
    display: flex;
    max-width: auto;
}

select.gform-filter-field, select.gform-filter-operator, input.gform-filter-value {
    height: auto;
    min-height: 100%;
    position: relative;
}

.gform-settings-panel__content select[name="mode"] {
    width: 10%;
}

button.gform-add, button.gform-remove {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 49%;
    border: 1px solid #D5D7E9;
    box-shadow: 0 2px 2px rgba( 58, 58, 87, 0.0796 );
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;
    top: .3rem;
    padding: 1px 7px;
}

button.gform-add.add_field_choice {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02IDBhMSAxIDAgMDAtMSAxdjRIMWExIDEgMCAwMDAgMmg0djRhMSAxIDAgMTAyIDBWN2g0YTEgMSAwIDEwMC0ySDdWMWExIDEgMCAwMC0xLTF6IiBmaWxsPSIjRjE1QTI5Ii8+PC9zdmc+);
}

button.gform-remove.delete_field_choice {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAxYTEgMSAwIDAxMS0xaDEwYTEgMSAwIDExMCAySDFhMSAxIDAgMDEtMS0xeiIgZmlsbD0iI0YxNUEyOSIvPjwvc3ZnPg==);
}

.gform-settings-panel__content select[name="_gform_setting_entry_filtersort_key"], .gform-settings-panel__content select[name="_gform_setting_entry_filtersort_direction"] {
    width: auto;
}
