/* -----------------------------------------------------------------------------
 *
 * Variables: Box Shadow
 *
 * ----------------------------------------------------------------------------- */

:root {

	--bs-datepicker: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.11), 0 0 0.25rem rgba(18, 25, 97, 0.0405344);
	--bs-datepicker-active-day: 0 0.125rem 0.125rem rgba(58, 58, 87, 0.0596411);
	--bs-datepicker-disabled-day: 0 0.125rem 0.125rem rgba(58, 58, 87, 0.0596411);

}
