/* -----------------------------------------------------------------------------
 *
 * Variables: Color
 *
 * ----------------------------------------------------------------------------- */

:root {

	--c-white: #FFFFFF;
	--c-text-default: #585E6A;
	--c-label: #686E77;
	--c-very-light-grey: #F2F3F5;
	--c-medium-grey: #D0D1D3;
	--c-sorta-grey: #607382;
	--c-dark-blue: #2F4054;
	--c-disabled-border: rgba(32, 32, 46, 0.079);

}
