/* -----------------------------------------------------------------------------
 *
 * Variables: Color
 *
 * ----------------------------------------------------------------------------- */

:root {
	--c-white: #fff;
	--c-text-default: #585e6a;
	--c-label: #686e77;
	--c-very-light-grey: #f2f3f5;
	--c-medium-grey: #d0d1d3;
	--c-sorta-grey: #607382;
	--c-dark-blue: #2f4054;
	--c-disabled-border: rgba(32, 32, 46, 0.079);
}
