composer.json
composer.lock
apigen.neon
config.json
config-sample.json
node_modules
Gruntfile.js
package.json

js/*.min.js
css/*.min.css

codeception.yml
codeclimate-report.html

tests/wp-tests-config.php
tests/phpunit/build/
tests/_output/*
tests/acceptance-tests/_output/
tests/acceptance-tests/_support/_generated/
tmp/
vendor/

.svn/
.DS_Store
.env
.idea/
.vscode/
