/* -----------------------------------------------------------------------------
 *
 * Variables: Height
 *
 * ----------------------------------------------------------------------------- */

:root {
	--h-editor-accordion-toggles: 3.375rem;
}
