@import "../../../../src/css/theme/variables/_colors.pcss";

.main {
	align-items: center;
	background: var(--c-dark-blue);
	color: #fff;
	display: flex;
	height: 400px;
	justify-content: center;
	width: 100%;
}
